%h1 Users

%table.table.table-striped.table-responsive.table-bordered.table-hover.table-condensed
  %th
    Name
  %th
    Email Address
  %th
    Books Issued
  - @users.each do |user|
    %tr
      %td
        = user.first_name + user.last_name
      %td
        = user.email_address
      %td
        = user.books
